.headerRoot {
    direction: column;
    text-align: center;
    padding: 24px;
    background-color: #E48F55;
    color: #E9ECE9;
    font-family: 'Bebas Neue', cursive;
    font-stretch: expanded;
}

.headerRoot > h1 {
    font-size: 72px;
}

.headerRoot > h3 {
    font-family: 'Roboto', sans-serif;
}

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #675E54;
    background-color: #E9ECE9;
    padding: 0;
    font-size: 20px;
}

main {
    padding: 24px;
    text-align: center;
}

a {
    color: #7D8EA2;
    text-decoration: none;
}

.ctaButton {
    border: 0;
    border-radius: 4px;
    background-color: #E48F55;
    outline: none;
    color: white;
    font-weight: 700;
    margin: 0 auto;
    font-size: 22px;
    display: block;
    padding: 16px 32px;
    cursor: pointer;
}

.sectionHeader {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
}

.commandContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 32px;
    margin-bottom: 64px;
}

.commandCard {
    background-color: #7D8EA2;
    border-radius: 4px;
    color: white;
}

.monospace {
    font-family: monospace;
}