button {
  font-family: 'Roboto', sans-serif;
}

html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: #f4f1de;
}

.container {
  background: linear-gradient(170deg, #f2cc8f 45%, transparent 45%);
  padding-bottom: 60px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 40px 16px;
  display: flex;
  justify-content: center;
}

.description {
  margin-left: 40px;
  color: black;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 26px;
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
  font-weight: 300;
  opacity: 0.9;
}

.buttons {
  display: flex;
  align-items: center;
}

button {
  background-color: #f4f1de;
  color: black;
  opacity: 1;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease opacity;
  text-transform: uppercase;
}

button:hover {
  opacity: 0.7;
}

.github {
  height: 20px;
}

.obsWard {
  transform: rotate(8deg);
  height: 600px;
}

.spacer {
  height: 300px;
}

.section {
  width: 80%;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 1250px;
  padding-bottom: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.centered {
  justify-content: center;
}

.sectionDescription {
  color: black;
  margin: 20px;
  max-height: 200px;
  width: 300px;
  border-radius: 4px;
  padding: 16px;
  flex-basis: 50%;
}

.imgWrap {
  max-width: 50%;
  overflow: hidden;
  border-radius: 4px;
}

.exampleImg {
  width: 100%;
  opacity: 0.8;
}

.sectionTitle {
  font-family: 'Bebas Neue';
  letter-spacing: 2px;
  color: black;
  font-weight: 400;
  font-size: 24px;
  display: block;
  text-align: center;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  .obsWard {
    height: 500px;
  }

  .spacer {
    height: 240px;
  }

  .section {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 0;
  }

  .sectionDescription {
    width: 80%;
    order: 2;
  }

  .imgWrap {
    order: 1;
    width: 70%;
    max-width: 70%;
  }
}

@media (max-width: 660px) {
  .header {
    width: 100%;
    padding: 20px 0;
  }

  button {
    height: 34px;
    padding: 4px;
    font-size: 12px;
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 18px;
  }

  .obsWard {
    height: 400px;
  }

  .spacer {
    height: 200px;
  }

  .sectionDescription {
    width: 90%;
  }

  .imgWrap {
    width: 80%;
    max-width: 80%;
  }
}